.navbar {
    padding: 1rem 5rem;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: max-content 1fr min-content;
    align-items: center;

    &__left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__right {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        column-gap: 1rem;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        color: var(--light-green);
        margin-right: 1.5rem;
    }

    &__link:hover {
        color: var(--dark-green);
        font-weight: 500;
    }

    &__title {
        font-size: 3rem;
        margin-right: 2rem;
    }

    &__searchbar {
        padding: .7rem 1rem;
        border: 1px solid var(--light-green);
        margin-right: 1rem;
    }

    @media only screen and (max-width: 43.75em) {
        &__right {
            justify-self: end;
        }

        &__right {
            justify-self: end;
        }

        &__searchbar {
            grid-row: 2;
            grid-column: 1 / -1;
            margin-right: 0;
        }
    }

    &__searchbar:focus-visible {
        outline: 1px solid var(--dark-green)
    }
}