:root {
  --light-green: #8AFF8A;
  --dark-green: #5CFF5C;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}


body {
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.btn {
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem 1.5rem;
  background-color: var(--light-green);
  border: none;
  transition: all 0.2s;

  &:hover {
    background-color: var(--dark-green);
    cursor: pointer;
  }

  &:disabled{
    background-color: gray;
    cursor: not-allowed;
  }

  &--animated {
    font-size: 1.4rem;
    color: #fff;
    padding: 1rem 1.5rem;
    background-color: transparent;
    border: 1px solid var(--dark-green);
    position: relative;
    z-index: 20;

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      background: var(--dark-green);
      transition: all 0.2s;
      z-index: -1;
    }

    &:hover::before {
      width: 100%;
    }
  }
}

.title{
  width: 100%;
  font-size: 4rem;
  font-weight: 700;
  color: var(--dark-green);
  text-align: center;
  text-transform: uppercase;
}

select{
  margin-left: 1rem;
  padding: 1rem;
}

.fill-red{
  background-color: rgb(156, 16, 16);
}

// .btn:hover {
//   background-color: var(--dark-green);
//   cursor: pointer;
// }

// .btn--animated {
//   background-color: transparent;
//   border: 1px solid var(--dark-green);
// }

// .icon{
//   color: #8AFF8A;
// }